In [3]:
class Employee:
    def __init__(self, name, l_name, salary, exp):
        self.name = name
        self.last_name = l_name
        self.base_salary = salary
        self.experience = exp


class Developer(Employee):
    def __init__(self, name, l_name, salary, exp):
       super().__init__(name, l_name, salary, exp)
       

class Designer(Employee):
    def __init__(self, name, l_name, salary, exp, er):
       super().__init__(name, l_name, salary, exp)
       self.er = er

class Manager(Employee):
    def __init__(self, name, l_name, salary, exp, team):
       super().__init__(name, l_name, salary, exp)
       self.team = team   


class Department:
    def __init__(self, managers):
         self.managers = managers
    
    def giveSalary(self):
        print('\n'.join(self.countedSalary()))

    def countedSalary(self):
        ans = []
        for m in self.managers:
            salary = m.base_salary
            if m.experience > 5:   salary = salary*1.2 + 500
            elif m.experience > 2: salary += 200

            if len(m.team)>10: salary += 300
            elif len(m.team)>5: salary += 200
            
            if sum(isinstance(x, Developer) for x in m.team)>len(m.team)/2: salary *= 1.1
            ans.append(f'\n{m.name} {m.last_name} отримав(-ла) {salary} шекєлей')

            for e in m.team:
                salary = e.base_salary

                if e.experience > 5:
                    salary = salary*1.2 + 500
                elif e.experience > 2:
                    salary += 200
                
                if isinstance(e, Designer):
                    salary *= e.er

                ans.append(f'   {e.name} {e.last_name} отримав(-ла) {salary} шекєлей')

        return ans

In [4]:
department = Department(
    [
        Manager('Назарій', 'Кент', 5500, 7,
                [
                    Designer('Ніно',  'Шевченко', 2100, 1,   0.2),
                    Designer('Данило',  'Жданов',      5400, 1.2, 0.3),
                    Designer('Тарас',   'Бульба',     1200, 1.5, 0.7),
                    Designer('Кирило',    'Діньок',   5000, 2.5, 0.2),
                    Developer('Ігор', 'Любов',   5500, 7)
                ]),
        Manager('Борщік', 'Діденко', 5400, 8,
                [
                    Designer('Марта', 'Леон',    5600,   1.1,   0.7),
                    Designer('Іван',    'Терешко', 2300,   2.5, 1.3),
                    Developer('Дмитро',    'Вердон',  3800,   2.7),
                    Developer('Тамара',  'Швець',    3900,   7),
                    Developer('Кирило',  'Гусь',    1900, 0.3),
                ]),
        Manager('Денчік', 'Мірошниченко', 5600, 5,
                [
                    Designer('Ольга',     'Брець',    6400, 2,   3.5),
                    Designer('Ніна',    'Калуш', 2300, 1.6, 1),
                    Designer('Филип',    'Орлик',    4500, 2.5,   1.9),
                    Designer('Вероніка',    'Лавр',    7400, 6,   0.4),
                    Designer('Євген',    'Жадан',  1200, 1.5, 0.3),
                    Designer('Влад',    'Сунко',    5000, 1.5, 0.3),
                    Developer('Карпо',    'Картонович',    7800, 5),
                    Developer('Володимир',    'Зеленський',     1200, 1.5),
                    Developer('Віта',      'Карпюк',   1000, 0.4),
                    Developer('Іван',    'Бздюха',   2300, 1.2),
                    Developer('Віта',  'Дрогобич',    1700, 0.5)
                ])
        
    ])

In [5]:
department.giveSalary()

Назарій Кент отримав(-ла) 7100.0 шекєлей
   Ніно Шевченко отримав(-ла) 420.0 шекєлей
   Данило Жданов отримав(-ла) 1620.0 шекєлей
   Тарас Бульба отримав(-ла) 840.0 шекєлей
   Кирило Діньок отримав(-ла) 1040.0 шекєлей
   Ігор Любов отримав(-ла) 7100.0 шекєлей

Борщік Діденко отримав(-ла) 7678.000000000001 шекєлей
   Марта Леон отримав(-ла) 3919.9999999999995 шекєлей
   Іван Терешко отримав(-ла) 3250.0 шекєлей
   Дмитро Вердон отримав(-ла) 4000 шекєлей
   Тамара Швець отримав(-ла) 5180.0 шекєлей
   Кирило Гусь отримав(-ла) 1900 шекєлей

Денчік Мірошниченко отримав(-ла) 6100 шекєлей
   Ольга Брець отримав(-ла) 22400.0 шекєлей
   Ніна Калуш отримав(-ла) 2300 шекєлей
   Филип Орлик отримав(-ла) 8930.0 шекєлей
   Вероніка Лавр отримав(-ла) 3752.0 шекєлей
   Євген Жадан отримав(-ла) 360.0 шекєлей
   Влад Сунко отримав(-ла) 1500.0 шекєлей
   Карпо Картонович отримав(-ла) 8000 шекєлей
   Володимир Зеленський отримав(-ла) 1200 шекєлей
   Віта Карпюк отримав(-ла) 1000 шекєлей
   Іван Бздюха отримав(-ла) 2300 шекєлей
   Віта Дрогобич отримав(-ла) 1700 шекєлей